/* portfolio.css */

.gallery {
  margin-top: 15px;
  /* Adjust margin for smaller screens */
  position: relative;
}

.cont {
  width: 100%;
  margin: 0 200px;
  max-width: 1000px;

}

.imagecontcont {
  display: flex;
  gap: 10px;
  width: 100%;
  flex-wrap: wrap;
  min-height: 840px;
  justify-content: center;
  align-content: flex-start;
}

.image {
  width: 100%;
  height: auto;
  /* Change height to auto for responsiveness */
  background-size: cover;
  /* Use 'cover' to fill the dimensions of .image-container */
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  margin: 10px;
  border-radius: 15px;
  transition: transform 0.3s ease;
  /* Add transition for smooth scaling */
}

.image:hover {
  transform: scale(1.05);
}

.image-container {
  width: 200px;
  height: 200px;
  display: flex;
  transition: opacity 0.5s;
}

.image-container.fade {
  opacity: 0;
}

.imagecontcont {
  display: flex;
  gap: 10px;
  justify-content: center;

  width: 100%;
  flex-wrap: wrap;
  min-height: 840px;
}

.modal {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  overflow: hidden !important;
  text-align: center;
}

.modal.open .arrows {
  width: 100%;
  display: flex;
  /* Show arrows when the modal is open */
  justify-content: space-between;
  font-size: 24px;
  color: white;
  padding: 10px;
}

.modal.open .arrows.hidden {
  display: none;
  /* Hide arrows in full-screen mode when the modal is open */
}


.arrow {

  color: #f7bd35;
  background-color: #ffdea1;
  width: 25px !important;
  height: 25px !important;
  padding: 5px;
  border-radius: 5px;

}

.modal-content {

  height: 100vh;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: transform 0.3s ease;
  /* Add transition for smooth scaling in full-screen mode */
}


.arrows {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: none;
  /* Hide arrows by default */
  justify-content: space-between;
  font-size: 24px;
  color: white;
  padding: 10px;
  /* Add padding for better visibility */
}

.arrows span {
  cursor: pointer;
}

.close {
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  position: absolute;
  z-index: 101;
  top: 10px;
  right: 20px;
  font-size: 30px;
  color: white;
  cursor: pointer;
  font-size: 50px;
}

/* Add this rule to adjust arrows in full-screen mode */
body.gallery-open .arrows {
  position: fixed;

  display: flex;
  width: 100%;
  justify-content: center;
  font-size: 24px;
  color: white;
  padding: 10px;
}

.gallery-open{
  overflow: hidden!important;
}

/* Add this rule to hide arrows in full-screen mode when the modal is open */
body.gallery-open .arrows.hidden {
  display: none;
}

.arrowscont {
  width: 150px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  background-color: rgba(0, 0, 0, 0.548);
  justify-content: space-around;
}


/* Style for tabs */
.tabs {
  display: flex;
  margin: 30px 0;
}

.tab:hover {
  background-color: #927f5a;
}

.tab {
  padding: 13px;
  cursor: pointer;
  background-color: #6c5c3f;
  margin-right: 10px;
  color: #ffdea1;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

/* Style for selected tab */
.tab.active {
  background-color: #f7bd35;
  color: white;
}

/* Style for gallery items */
.gallery {
  margin-top: 10px;
  position: relative;
}

/* Add specific styles for different categories if needed */
.gallery[data-category="category1"] .image-container[data-category="category1"],
.gallery[data-category="category2"] .image-container[data-category="category2"] {
  /* Add specific styles for each category if needed */
  /* For example, you can adjust the width or height */
  width: 250px;
  height: 250px;
}