@media (max-width: 768px) {
    body {
        margin: 0px !important;
    }

    .header {
        margin: 0px;
    }

    .image-container {
        width: 180px !important;
        height: 180px !important;
    }

    .headercont {
        margin: 0px !important;
    }



    .arrows {
        bottom: 100px !important;
    }
}