/* style.css */


body,
html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /* Hide horizontal scrollbar */
}

html {
    background-color: #29241c;

}


.headercont {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.headerpic {
    background-image: url(https://i.imgur.com/GWCzTOm.png);
    width: 100%;
    height: 148px;
    border-radius: 0px 0px 30px 30px;


}

.header {
    margin: 0 !important;
    background-size: 100% 100%;
    /* Adjusted background size */
    position: absolute;
    z-index: -2;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.about {
    position: absolute!important;
    top: calc(+50px)!important;
    padding: 15px!important;
    max-width: 800px!important;
    border-radius: 55px!important;
    width: 430px!important;
    height: 220px!important;
    display: flex!important;
    align-items: flex-start!important;
    background: #FFDEA1!important;
    box-shadow: 0px 30px 20px 0.01px rgba(0, 0, 0, 0.05)!important;
    flex-direction: column!important;
}

.aboutcont {
    position: absolute;
    top: calc(-30px);
    left: calc(45px)
}

.userpic {
    width: 150px;
    height: 150px;
    background-image: url(https://i.imgur.com/CuDYeIj.jpg);
    background-size: cover;
    border-radius: 25px;
    border: 10px solid #FFDEA1;

    /* Add some margin to separate the userpic from text */
}

.blocktext {
    display: flex;
    margin-top: calc(40%);
    font-family: 'Roboto', sans-serif;
    color: #ffdea1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    flex-wrap: nowrap;
    text-align: center;
    padding: 0 10px;
}

.colored {
    color: #f7bd35;
}



#TwitchOverlay {
    position: fixed;
    background: transparent;
    pointer-events: auto;
    cursor: pointer;
    border-radius: 20px;
}

#TwitchOverlay:hover {
    background-color: #1e1b16a6;
    filter: brightness(70%);
    transition: 0.3s ease;
    background-size: cover;
}


.text {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

h1,
.aboutp {
    margin: 0;
    /* Remove default margin */
    font-family: 'Fredoka', sans-serif;
    color: #402d00;

}

h1 {
    font-size: 40px;
}

.aboutp {
    font-family: 'Roboto', sans-serif;
    width: 270px;
}

.flexdiv,
.cont {
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.block {
    display: flex;
    width: 430px;
    height: 315px;
    border-radius: 55px;
    background: #6C5C3F;
    box-shadow: 0px 0px 16.6px 3px rgba(0, 0, 0, 0.25);
    align-items: center;
    justify-content: center;
}

.block2 {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    width: 430px;
    height: 150px;
    border-radius: 30px;
    background: #6C5C3F;
    box-shadow: 0px 0px 16.6px 3px rgba(0, 0, 0, 0.25);
    align-items: center;
    justify-content: center;
}

.cont {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    width: 450px;

}

.video {
    padding: 0px 10px !important;
    margin-left: 8px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: flex-end;
    justify-content: center;
}

.video1 {
    background-color: #f7bd35;
    width: 46%;
    height: 106px;
    margin: 0px 10px;
    border-radius: 20px;
}

#latestVideoContainer {
    margin: 2px;
}


.YouTubeSize {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
    cursor: pointer;
}

#YouTubeOverlay {
    position: fixed;
    background: transparent;
    pointer-events: auto;
    cursor: pointer;
    border-radius: 20px;
    overflow: hidden;
    /* Ensure the background doesn't overflow */
}

.YouTubeSize:hover {
    filter: brightness(70%);
    transition: 0.3s ease;

}

.video2,
#SamplePlayerDivID {
    background-color: #f7bd35;
    width: 46%;
    height: 106px;
    margin: 0px 10px;
    border-radius: 20px;

}

#SamplePlayerDivID {
    overflow: hidden;
    /* Ensure the border-radius is applied correctly */
}

.logo {
    display: flex;
    position: absolute;
    top: calc(+450px)
}

.pages {
    color: #ffdea1;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    display: flex;
    align-items: flex-start;
}

.pagesbtn {
    background-color: #6c5c3f;
    width: 100px;
    height: 50px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px 9px;
    box-shadow: 0px 0px 3.6px 2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    transition: 0.3s ease;

}

.pagesbtn:hover {
    transition: 0.3s ease;
    background-color: #927f5a;
}

.pagesactive {
    background-color: #f7bd35 !important;
    color: white !important;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px 0px;
    box-shadow: 0px 0px 3.6px 2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.Ylogo {
    height: 45px;
    width: 45px;
    margin: 0 75px;
    z-index: 10;
}

.Tlogo {
    height: 45px;
    width: 45px;
    margin: 0 75px;
    z-index: 10;

}

.logoico{
    padding: 3px;
    font-size: 30px;
    display: flex;
    color: #ffffff85;
    background-color: #f7bd35;
    justify-content: center;
    align-items: center;
    border-radius: 20%/20%;
}
header {

    margin: 0;
    padding: 0;
}






/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #F7BD35 #1E1B16;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}

*::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #1E1B16;
}

*::-webkit-scrollbar-track:hover {
    background-color: #1E1B16;
}

*::-webkit-scrollbar-track:active {
    background-color: #1E1B16;
}

*::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #F7BD35;
    border: 2px solid #1E1B16;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #E5AF31;
}

*::-webkit-scrollbar-thumb:active {
    background-color: #FFB82B;
}




.footer {
    position: absolute;
    left:0;
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 130px;
    background-color: #000000;
    margin-top: calc(60px);
    /* Push the footer to the bottom of its container */
    overflow-x: none;
}

img.emoji {
    width: 1em;
    pointer-events: none;
}


.lang {
    display: flex;
    top: 45px;
    left: 180px;
    gap: 10px;
    width: 100%;
    justify-content: flex-end;
    margin-right: 20px;
}

.uk, .en {
    font-size: 25px;
    width: 40px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}

.menucont {
    position: absolute;
    top: 45px;
    left: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.langt{
    box-shadow: 0px 0px 16.6px 3px rgba(0, 0, 0, 0.25);
}