:root {
  --md-sys-color-primary: #ecc300;
  --md-sys-color-on-primary: #3b2f00;
  --md-sys-color-primary-container: #554500;
  --md-sys-color-on-primary-container: #ffe17a;
  --md-sys-color-secondary: #d3c6a1;
  --md-sys-color-on-secondary: #383016;
  --md-sys-color-secondary-container: #4f462a;
  --md-sys-color-on-secondary-container: #f0e2bb;
  --md-sys-color-tertiary: #e6b4ff;
  --md-sys-color-on-tertiary: #491765;
  --md-sys-color-tertiary-container: #61317e;
  --md-sys-color-on-tertiary-container: #f5d9ff;
  --md-sys-color-error: #ffb4ab;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error: #690005;
  --md-sys-color-on-error-container: #ffdad6;
  --md-sys-color-background: #1d1b16;
  --md-sys-color-on-background: #e8e2d9;
  --md-sys-color-surface: #1d1b16;
  --md-sys-color-on-surface: #e8e2d9;
  --md-sys-color-surface-variant: #4b4639;
  --md-sys-color-on-surface-variant: #cec6b4;
  --md-sys-color-outline: #979080;
  --md-sys-color-inverse-on-surface: #1d1b16;
  --md-sys-color-inverse-surface: #e8e2d9;
  --md-sys-color-inverse-primary: #715c00;
  --md-sys-color-shadow: #000000;
  --md-sys-color-surface-tint: #ecc300;
  --md-sys-color-outline-variant: #4b4639;
  --md-sys-color-scrim: #000000;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--md-sys-color-background);
}

#buttonContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  flex-direction: column;
}

.regular-button, .small-button {
  text-decoration: none;
  margin: 10px;
  padding: 15px;
  background-color: var(--md-sys-color-primary);
  color: var(--md-ref-palette-neutral-light);
  border-radius: 5px;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
  width: 100%;
}

.regular-button image {
  max-width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.small-button {

  width: 40px;
  height: 40px;
  justify-content: center;
  background-image: url(''); /* Встановити URL фонового зображення в JavaScript */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.small-button-container {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.small-button span {
  flex: 1;
  text-align: center;
}

/* Ефект наведення */
.regular-button:hover, .small-button:hover {
  background-color: var(--md-sys-color-primary);
}

a{
  box-shadow: 0px 3px 8px -2px var(--md-sys-color-shadow);
  color:#1d1b16;
}

a:hover{
  box-shadow: 0px 3px 8px 0px var(--md-sys-color-shadow);
}