<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="robots" content="noindex">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADD MORE CONTENT</title>
    <!-- Add the link to your stylesheet -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/x-icon" href="https://i.imgur.com/Cw1AbQd.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
</head>

<script>
    
    if (!window.location.origin.includes('http://192.168.0.116')) {
        // Redirect to the specified URL
        window.location.href = 'https://megatrex4.netlify.app/';
    }
</script>

<body>
    <div class="contcont">
    <div class="cont">
        <div class="leftdiv">
            <h2>Add New Categories</h2>
            <!-- Form for adding new categories -->
            <form action="/add_category" method="post">
                <label for="category">New Category Name (EN):</label>
                <input type="text" id="category" name="category" required>
                
                <label for="title">Category Display Title (EN):</label>
                <input type="text" id="title" name="title" required>
        
                <label for="uk_name">New Category Name (UK):</label>
                <input type="text" id="uk_name" name="uk_name" required>
                
                <label for="uk_title">Category Display Title (UK):</label>
                <input type="text" id="uk_title" name="uk_title" required>
        
                <button class="" type="submit">Add Category</button>
            </form>
        </div>
        <div class="rightdiv">
            <h2>Add New Elements</h2>
            {% for element in images_data['galeryimages'] %}
            {% if element['category'] == selected_category %}
                {% if 'description' in element %}
                    <p>{{ element['description']['descen'] }}</p>
                    <!-- Add more details as needed -->
                    <a href="{{ element['description']['link'] }}" target="_blank">{{ element['description']['texten'] }}</a>
                    {% if 'button' in element %}
                        <p>{{ element['button'] }}</p>
                    {% endif %}
                {% else %}
                    <p>Element has no 'description' attribute</p>
                {% endif %}
            {% endif %}
        {% endfor %}
<!-- Form for adding new images -->
<form action="/add_image" method="post">
    <!-- Add a hidden input field to store the selected category -->
    <input type="hidden" name="selected_category" value="{{ selected_category }}">
    
    <!-- Category selection dropdown -->
    <label for="category">Category:</label>
    <select id="category" name="category" required>
        <!-- Add options dynamically based on available categories -->
        {% for key, value in tab_names['uk'].items() %}
            <option value="{{ key }}">{{ value }}</option>
        {% endfor %}
    </select>

    <label for="image">Image URL:</label>
    <div class="image-preview-cont">
        <div id="image-preview" class="image-preview"></div>
    </div>
    <input type="url" id="image" name="image" required oninput="updateImagePreview(this.value)">
    

    <script>
        function updateImagePreview(url) {
            const imagePreview = document.getElementById('image-preview');
            const imageInput = document.getElementById('image');
    
            // Update the background image of the preview div
            imagePreview.style.backgroundImage = `url('${url}')`;
    
            // Show or hide the preview based on whether the URL is empty
            if (url.trim() !== '' && imageInput === document.activeElement) {
                imagePreview.style.display = 'flex';
            } else {
                imagePreview.style.display = 'none';
            }
        }
    
        document.getElementById('image').addEventListener('mouseenter', function () {
        const url = this.value.trim();
        if (url !== '') {
            showImagePreview(url);
        }
    });

    // Add an event listener for mouse leave to hide the preview container
    document.getElementById('image').addEventListener('mouseleave', function () {
        hideImagePreview();
    });

    // Function to show the image preview
    function showImagePreview(url) {
        const previewCont = document.querySelector('.image-preview-cont');
        const preview = document.getElementById('image-preview');
        preview.style.backgroundImage = `url('${url}')`;
        previewCont.style.display = 'flex';
    }

    // Function to hide the image preview container
    function hideImagePreview() {
        const previewCont = document.querySelector('.image-preview-cont');
        previewCont.style.display = 'none';
    }
    </script>
    


    <!-- New fields for description -->
    <label for="desc">Description (UK):</label>
    <input type="text" id="desc" name="desc">
    <label for="descen">Description (EN):</label>
    <input type="text" id="descen" name="descen">
    <label for="text">Button text (UK):</label>
    <input type="text" id="text" name="text">
    <label for="texten">Button text (EN):</label>
    <input type="text" id="texten" name="texten">
    <label for="link">URL LINK:</label>
    <input type="url" id="link" name="link">
    <button type="submit">Add Image</button>
</form>

<script>
    // JavaScript to toggle the required attribute based on the description fields
    document.getElementById('desc').addEventListener('input', toggleRequired);
    document.getElementById('descen').addEventListener('input', toggleRequired);
    document.getElementById('text').addEventListener('input', toggleRequired);
    document.getElementById('texten').addEventListener('input', toggleRequired);
    document.getElementById('link').addEventListener('input', toggleRequired);

    function toggleRequired() {
        const descNotEmpty = document.getElementById('desc').value.trim();
        const descenNotEmpty = document.getElementById('descen').value.trim();
        const textNotEmpty = document.getElementById('text').value.trim();
        const textenNotEmpty = document.getElementById('texten').value.trim();
        const linkNotEmpty = document.getElementById('link').value.trim();

        // Toggle the 'required' attribute based on whether there is something in the description fields
        document.getElementById('descen').required = descNotEmpty;

        // Make "Text" and "English Text" required only when the "Link" field is not empty
        document.getElementById('text').required = linkNotEmpty;
        document.getElementById('texten').required = linkNotEmpty;

        // Make "Link" required only when there is something in the "Text" or "English Text" fields
        document.getElementById('link').required = textNotEmpty || textenNotEmpty;
    }
</script>
</div>
    </div>
    <h3>Всі категорії</h3>
    <div class="catcreate">
        
        {% for key, value in tab_names['uk'].items() %}
        <div class="createtab">{{ tab_names['en'][key] }}</div>
        <div class="createtab">{{ tab_names['uk'][key] }}</div>
    {% endfor %}
    </div>
    <h3>Всі Елементи</h3>
    <div class="cards">
        {% for element in images_data['galeryimages'] %}
            <div class="card">
                <div class="basicinfo">
                    <div class="imagecont">
                        <div class="image" alt="Image" style="background-image: url({{ element['url'] }});"></div>
                    </div>
                <div class="tabcont">
                    <div class="tabcont">
                        <div class="tab">
                            {% if element['category'] in tab_names['uk'] %}
                                {{ tab_names['uk'][element['category']] }}
                            {% endif %}
                        </div>
                        <div class="tab">
                            {% if element['category'] in tab_names['en'] %}
                                {{ tab_names['en'][element['category']] }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
                <div class="card-info">
                    {% if 'description' in element %}
                        <div class="desccont">
                        <div class="desc">{{ element['description']['descen'] }}</div>
                        <div class="desc">{{ element['description']['desc'] }}</div>
                    </div>
                        <div class="buttoncont">
                        <a class="button" href="{{ element['description']['link'] }}" target="_blank">{{ element['description']['texten'] }}</a>
                        <a class="button" href="{{ element['description']['link'] }}" target="_blank">{{ element['description']['text'] }}</a>
                    </div>
                        {% if 'button' in element %}
                            <p>{{ element['button'] }}</p>
                        {% endif %}
                    {% else %}
                        <p>У елемента немає поля 'опису'</p>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    
</div>
</div>
</body>
</html>
